@mixin debug($type, $color: red, $zIndex: 100) {
    @if $type == 'outline' {
        outline: 2px solid $color;
        z-index: $zIndex;
    } @else if $type == 'background' {
        background-color: rgba($color, 0.05);
        z-index: $zIndex;
    }
}

/* //* Imports 
@import '../abstracts/error';
@include debug('outline', blue, 100);
@include debug('background', green, 100);
*/