$main-color__first: #6d5dff;
$main-color__second: #8974ff;
$main-color__third: #363636;

$dark-color__first: #100F10;
$dark-color__second: #1B1B1B;
$dark-color__third: #242424;

$font-color__first: rgba(#fff, 0.96);
$font-color__second: rgba(#fff, 0.67);
$font-color__third: rgba(#fff, 0.45);

$lengths: (
  small: (0.375rem, 0.625rem, 0.875rem),
  medium: (1rem, 1.375rem, 1.75rem),
  large: (2.5rem, 3.5rem, 4.5rem)
);

@each $size, $values in $lengths {
  $first: nth($values, 1);
  $second: nth($values, 2);
  $third: nth($values, 3);
  
  .text-#{$size}-first {
    font-size: $first;
  }
  
  .text-#{$size}-second {
    font-size: $second;
  }
  
  .text-#{$size}-third {
    font-size: $third;
  }
}


// Timeline
$color-start: rgb(68 68 68);
$color-end: rgb(116, 116, 255);
$color-end_Circle1: rgb(63, 63, 255);
$color-end_Circle2: rgb(136, 136, 255);
$connexion-heights: 100px 150px 300px;