@import "../abstracts/error";


nav * {
    @include debug('outline', red);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    @include debug('background', green);
  
    ul {
      display: flex
    }
    > {
      img {
        width: 4rem;
        height: auto;
        margin-right: auto
      }
      ul > li {
        margin: 0 10px;
  
        > button {
          padding: .6em 1.2em;
          font-size: 1em;
          font-weight: 500;
          font-family: inherit;
          cursor: pointer;
          border-radius: 2px;
          background: none;
          color: white;
          transition: background-color .25s, color .25s
        }
      }
    }
  }